@use '../../styles/vars.scss' as *;
.footer{

    background-color: $bg-color;

    padding: 30px 20px;

    &_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &_items{
        display: flex;
        gap: 20px;
    }

    &_link{

        color: $main-color;

        font-weight: 600;

    }

    &_social{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_phone{
       color: $main-color;
       font-size: 18px;
       text-decoration: underline;

    }

    // Adaptive  version

    // @media (max-width:1000px) {

        
    // }

    @media (max-width:700px) {

        &_wrapper{
            flex-direction: column;
            gap: 20px;
        }
        
        
    }

    @media (max-width:400px) {
               
        &_wrapper{

            flex-direction: column;
            gap: 20px;
        }
        
    }

}