
// Font family
$body-font:"Jura", sans-serif;
$second-font:"IBM Plex Mono", monospace;

// Font weight
$bold: 700;
$regular: 400;


// Color
$main-color: #FFFFFF;
$second-color: #C6C6C4;
$black: #000000;
$blue: #200AFF;
$bg-color : #000000e6;

