// Font family
$body-font:"Jura", sans-serif;
$second-font:"IBM Plex Mono", monospace;

// Font weight
$bold: 700;
$regular: 400;


// Color

$main-color: #FFFFFF;
$second-color: #C6C6C4;
$btn-color: #200AFF;