@use '../../styles/vars.scss' as *;
.error{
    background-color: $bg-color ;
    height: 100vh;
    padding: 100px;

    &_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_title{
        position: relative;

        &::after{
            content: '×';
            position: absolute;

            color: red;
            top: 5px;
      
        }
    }


}