@use '../../../styles/vars.scss' as *;

.tattoomasters_card{

    position: relative;

    background-color: $main-color;
    width: 400px;
    border-radius: 50px;

    cursor: pointer;

    &::after {
        content: ''; 
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        
        width: 100%;
        height: 100%;
        padding: 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 18px;
        font-weight: $bold;
        
        background-color: rgba(0, 0, 0, .5);
        color: $main-color; 
        border-radius: 50px;
        
        opacity: 0;
        pointer-events: none; 
        
       
        transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
        content: 'Показать подробнее'; 
        opacity: 1; 
        pointer-events: auto; 
    }

    &-img{

        width: 100%;
        margin-bottom: 20px;
        border-radius: 50px 50px 0px 0px;
    }


    &-info{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 12px;

        font-size: 25px;

        padding: 35px;
    }


   &-btn{

    position: relative;
    z-index: 1;

    padding: 11px 28px;
    margin-bottom: 20px ;
    
   }

   &-green{
        color: rgb(88, 255, 11);
   }

   &-red{
    color: red;
   }

//  Adaptive version

@media (max-width:1000px){
     width: 350px;

}

@media (max-width:700px) {

    width: 300px;

    &-img{
        margin-bottom: 15px;
    }

    &-info{
        font-size: 20px;
        padding: 20px;

        
    }
    
}


@media (max-width:400px) {

    width: 150px;

    &:hover::after{
        font-size: 10px;
    }

     &-info{
        display: flex;
        font-size: 12px;
        padding: 10px;
        gap: 5px;
        white-space: nowrap;
       
    }

    &-info > p {
        display: none; //Временно
    }
    
    &-btn{

    padding: 5px;

    
   }
}

    
}