@use '../styles/vars.scss' as *;

.form{
    background-color: $bg-color;
    // height: 100vh;
    // overflow: hidden;
    padding: 67px 100px;

    &__title{

        text-align: center;
        margin-bottom: 50px;

    }

    &__inner{

        display: flex;
        align-items: center;
        flex-direction: column;

    }

    &__column{
        display: flex;
        align-items: center;
        margin-bottom: 47px;
        gap: 10px;
    }

    &__label{

        color: $main-color;
        
        font-family: $second-font;
        
    }

    &__password{
        position: relative;
    }

    // &__password > input:focus{

          
    // }


// Input
    &__input{

        width: 270px;

        background-color: $main-color;
        border-radius: 8px;

        padding: 12px 16px ;

        transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;

        position: relative;

        &:focus{

            transform: translateY(-5px);
            outline: none;
            box-shadow: 0px 5px 10px rgba(255,255,255,.5);

            &::placeholder{
               opacity: 0;
            }
            
        }


        &-checkbox{
            width: 20px ;

             &:focus{

            transform: none;
            outline: none;
            box-shadow: none;

        }

    }
}

    &__input:focus + &__toggle{
       opacity: 0;
       visibility: hidden;
    }

    &__input[type='text'] + &__toggle{
         background-image: url('../assets/icon/Forms/HideEye.svg');
    }

    &__toggle{
        position: absolute;

        left: 85%;
        right: 0;
        top: 30%;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 1;
        transition: opacity 0.3s ease;

        padding: 10px;

        width: 20px;
        height: 20px;

        background-image: url('../assets/icon/Forms/OpenEye.svg');
        background-repeat: no-repeat;
        background-size: contain;

        z-index: 9999999;


    }
//

    .btn-login{
        padding: 12px 47px ;
        margin-bottom: 23px;
    }


     .btn-reg{
        padding: 12px 13px;
        margin-bottom: 23px;
    }

    &__link{

        color: $second-color;

        font-size: 12px;

        transition: color .2s ease-in-out, transform .4s ease-in;

        margin-bottom: 10px;

        &:last-of-type{
            margin-bottom: 0px;
        }


        &:hover{
           color: $main-color;
           transform: scale(1.5);
        }

    }

    &__help{

        position: relative;

        background-color: $main-color;
        color: $black;

        padding: 5px;
        border-radius: 5px;

        font-size: 12px;
   
        cursor: pointer;

        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        

        &:hover{

            background-color: $second-color;

            .form_tooltip{

                opacity: 1;
                visibility: visible;

                left: 150%;
            }
        }
        
    }

    &__tooltip{

        position: absolute;
        left: 40%;
        top: -130%;

        width: 200px;
        background-color: $main-color;
        color: $black;
        padding: 20px;
        border-radius: 30px;

        opacity: 0;
        visibility: hidden;

        transition: all .2s ease-in-out;


        z-index: 10;

        pointer-events: none;

    }

    &__items{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item{
        font-family: $second-font;
        font-size: 10px;
    }

// Secect & option

    &__select{
        outline: 3px $main-color solid;
        padding: 12px 40px 12px 20px;
        border-radius: 30px;
        color: $main-color;
    }

    // Upload button
 &__upload-section {
  width: 100%;
  max-width: 600px;
  margin-bottom: 40px;
}

&__upload-title {
  color: $main-color;
  font-family: $second-font;
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
}

&__upload-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

&__upload-item {
  position: relative;
  width: 70px;
  height: 70px;
}


&__file-input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;

  &:focus + .form__file-label {
    outline: 2px solid $second-color;
  }
}


&__file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a1aff;
  border-radius: 12px;
  cursor: pointer;
  transition: transform .3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(0);
  }
}

&__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  color: #1a1aff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 2px;
}

 

// Adaptive version


@media (max-width:700px) {

    &__tooltip{
        width: 150px;
        padding: 10px;
    }
    
}

@media (max-width:400px) {

    padding: 30px;

    &__column{
        margin-bottom: 20px;
    }

    &__label{
        font-size: 10px;
    }
    
    &__input{
        width: 200px;
        padding: 10px;

        &::placeholder{
            font-size: 10px;
        }

        &-checkbox{
            width: 20px;
        }
    }

    &__link{
        font-size: 10px;
    }

    &__help{
        opacity: 0;
        visibility: hidden;
    }
}

}

// Profile

.profile{
    background-color: $bg-color;
    padding: 100px;
    height: 100vh;



&__title{
    margin-bottom: 50px;
    text-align: center;
}

&__tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    margin-bottom: 50px;
}

// &__tabs:after{
//     content: '';
//     position: absolute;

//     width: 50px;
//     height: 1px;
    
//     left: 52%;
    
//     background-color: $main-color;

//     transform: rotateZ(90deg);
  
// }

.btn__tabs{
    padding: 27px;
    transition: background-color .2s ease-in-out, outline .5s ease-in-out;

    &:hover{
        opacity: 1;
        transform: translateY(0);
    }
    
}

.btn__tabs.active{
    background-color: $black;
    outline: 1px $main-color solid;
}

&__info{
    border: 1px $main-color solid;
    padding: 30px;
    border-radius: 30px;
}

.btn-logout{
    padding: 3px 15px;
}

}

// ProfilePersonal

.personal{
    text-align: center;
    margin-bottom: 30px;

    &__content{
        color: $main-color;
    }

    &__title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__back{
        color: $second-color;

        font-size: 12px;

        transition: color .2s ease-in-out, transform .4s ease-in;

        margin-bottom: 10px;

        display: inline-block;


        &:hover{
           color: $main-color;
           transform: scale(1.5);
        }
    }
}

// ProfilePortfolio

.portfolio{
    padding: 30px;

    &__content{
        text-align: center;
    }

  &__title{
    color: $main-color;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .btn-create{
    padding: 10px;
  }
}