@use '../../styles/vars.scss' as *;
.community{

    padding: 130px ;

    background-image: url('../../assets/img/Main/Community/CommunityBg.png');
    background-image: image-set(
        url('../../assets/img/Main/Community/CommunityBg.png') 1x,
        url('../../assets/img/Main/Community/CommunityBg-2x.png') 2x
    );
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

//Community content
    &_content{
        display: inline-block;
    }

    &_title{

        color:red;

        margin-bottom: 80px;
    }

// First question
    &_first_question{
        margin-bottom: 28px ;
    }

    &_chat{

        color: $main-color;

        font-size: 30px;
        font-weight: 600;

        margin-bottom:28px ;


    &-descr{

        color: $second-color;

        font-family: $second-font;
        font-weight: $regular;

        }

    }
//

// Second question
    &_second_question{
        margin-bottom: 40px;
    }

    &_useful{

        color: $main-color;

        font-size: 30px;
        font-weight: 600;

        margin-bottom:28px;

        &-descr{

            color: $second-color;

            font-family: $second-font;
            font-weight: $regular;

        }
    }

    &_btn{
        padding: 22px;
    }
//

//

// Adaptive version    
@media (max-width:700px) {

    background-image: none;
    background-color: $bg-color;
    padding: 50px 90px;
    height: auto;


    &_title{
        margin-bottom: 50px;
    }

}

@media (max-width:400px) {

    background-image: none;
    background-color: $bg-color;

    padding: 20px;

        &_title{
            margin-bottom: 30px;
        }

        &_chat{

            font-size: 20px;

            &-descr{

            font-size: 12px;
            white-space: nowrap;

        }

    }

        &_second_question{
            margin-bottom: 20px;
        }

        &_useful{

             font-size: 20px;

             &-descr{

                font-size: 12px;
                white-space: nowrap;

             }
        }

        &_btn{
            padding: 15px;
        }
        
}
//
}